h1{
    color: black;
    padding: 20px;
    margin-left: 400px;
}
h4{
    padding: 5px;
    margin-left: 500px;
}



.one{
    padding: 5px;
    margin-left: 250px;
}

h2{
    padding: 5px;
    margin-left: 500px;
}
table{
    padding: 5px;
    margin-left: 250px;
}